@page "/createcustomer"
@using DTOs.Customer

<h3>Create new Customer</h3>

<p>This component lets you to create a new customer and sends it to the server.</p>

    <p>
        <label>
            First name :&emsp;
            <input id="fname" name="First name" type="text" value=""/>
        </label>
    </p>
    <p>
        <label>
            Last name :&emsp;
            <input id="lname" name="Last name" type="text" value=""/>
        </label>
    </p>
    <p>
        <label>
            Date of birth :&emsp;
            <input id="bdate" name="Date of birth" type="date" value=""/>
        </label>
    </p>
    <p>
        <label>
            Phone number :&emsp;
            + <input id="pnumber" name="Phone number" type="number" value=""/>
        </label>
    </p>
    <p>
        <label>
            Email :&emsp;
            <input id="email"name="Email" type="email" value=""/>
        </label>
    </p>
    <p>
        <label>
            Banck account number :&emsp;
            <input id="baccount1" class="baccnum" name="Banck account number" type="number" value=""/> - <input id="baccount2" class="baccnum"  name="Banck account number" type="number" value=""/> - <input id="baccount3"  class="baccnum" name="Banck account number" type="number" value=""/> - <input id="baccount4" class="baccnum"  name="Banck account number" type="number" value=""/>
        </label>
    </p>

    <p>
        <input type="submit" value="Submit" class="submit" onclick="@SubmitCustomer"/>
    </p>

<style>
    .baccnum {
        width: 8ch;
    }

    #email {
        width:40ch; 
    }
</style>

@code {
    private CustomerCreateDTO customer = new CustomerCreateDTO();

    private async Task SubmitCustomer()
    {

    }
}
